In [1]:
import pandas as pd
import numpy as np
import random as rnd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
clients = pd.read_csv("C:/Users/aldio/OneDrive\Documents\ProjetValorisationD\ProjetValorisationDonnees\Semaine6\clients.csv")

C:\Users\aldio\AppData\Local\Temp\ipykernel_29572\83029035.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  clients = pd.read_csv("C:/Users/aldio/OneDrive\Documents\ProjetValorisationD\ProjetValorisationDonnees\Semaine6\clients.csv")

In [5]:
clients.head()

,idClient,prenom,nom,sexe,email,telephone,dateNaissance,profession,ville,region,mdp
0,5f10e9D33fC5f2b,Sara,Mcguire,Femme,tsharp@example.net,(971)643-6089x9160,1921-08-17,"Editor, commissioning",Shashemenē,Oromiya,n4iNrw4s3T
1,DcEFDB2D2e62bF9,Gwendolyn,Sheppard,Homme,mercadojonathan@example.com,9017807728,1915-09-25,Industrial buyer,Jasaan,Northern Mindanao,nyujgh2wdH
2,C88661E02EEDA9e,Kristine,Mccann,Femme,lindsay55@example.com,+1-607-333-9911x59088,1978-07-27,Multimedia specialist,Toshloq,Fergana,O7mo3dRp2j
3,fafF1aBDebaB2a6,Bobby,Pittman,Femme,blevinsmorgan@example.com,3739847538,1989-11-17,Planning and development surveyor,Leytonstone,England,VUFNcK4qEw
4,BdDb6C8Af309202,Calvin,Ramsey,Femme,loretta85@example.com,001-314-829-5014x1792,2017-08-31,Therapeutic radiographer,Salwá,Hawalli,z4Ll1m7ODZ

### clean

In [6]:
print(clients.isna().sum())

idClient         150000
prenom           150000
nom              150000
sexe             150000
email            150000
telephone        150000
dateNaissance    150000
profession       150000
ville              8592
region             8742
mdp              158323
dtype: int64

In [7]:
clients = clients.dropna()

##### FAISONS UNE ANALYSE DESCRIPTIVE SUR LE DATASETS CLIENTS

### Verifions s'il y'as des valeurs Manquantes

In [9]:
print(clients.isna().sum())

idClient         0
prenom           0
nom              0
sexe             0
email            0
telephone        0
dateNaissance    0
profession       0
ville            0
region           0
mdp              0
dtype: int64

In [10]:
clients.head

<bound method NDFrame.head of             idClient     prenom        nom   sexe  \
0    5f10e9D33fC5f2b       Sara    Mcguire  Femme
1    DcEFDB2D2e62bF9  Gwendolyn   Sheppard  Homme
2    C88661E02EEDA9e   Kristine     Mccann  Femme
3    fafF1aBDebaB2a6      Bobby    Pittman  Femme
4    BdDb6C8Af309202     Calvin     Ramsey  Femme
..               ...        ...        ...    ...
453  aDe216dCD496fCC     Carlos    Rowland  Homme
454  6aa9fAac21087fC    Russell    Fleming  Femme
455  eF8Fdbb3CA4ED41     Gloria  Dougherty  Femme
456  Cf3E458dFEbEDBd     Justin     Burton  Homme
457  bdaAaceBCaaA5aD     Austin   Clements  Femme

                           email               telephone dateNaissance  \
0             tsharp@example.net      (971)643-6089x9160    1921-08-17
1    mercadojonathan@example.com              9017807728    1915-09-25
2          lindsay55@example.com   +1-607-333-9911x59088    1978-07-27
3      blevinsmorgan@example.com              3739847538    1989-11-17
4          loretta85@example.com   001-314-829-5014x1792    2017-08-31
..                           ...                     ...           ...
453       colonbarry@example.org   001-874-275-4392x4474    2005-07-20
454          yuethan@example.net   001-260-578-8431x4722    1970-04-08
455          nancy13@example.com   001-073-129-1327x0208    1998-01-25
456          tommy71@example.net              9698768082    1974-04-28
457            rtate@example.org  001-591-612-6569x38223    1962-05-03

                             profession              ville             region  \
0                 Editor, commissioning         Shashemenē            Oromiya
1                      Industrial buyer             Jasaan  Northern Mindanao
2                 Multimedia specialist            Toshloq            Fergana
3     Planning and development surveyor        Leytonstone            England
4              Therapeutic radiographer              Salwá            Hawalli
..                                  ...                ...                ...
453               Engineering geologist        Rosa Zarate         Esmeraldas
454                         Chiropodist             Paraty     Rio de Janeiro
455  Tourist information centre manager       Qadirpur Ran             Punjab
456        Medical sales representative             Sorada             Odisha
457                Commissioning editor  Verkhnyaya Pyshma  Sverdlovsk Oblast

            mdp
0    n4iNrw4s3T
1    nyujgh2wdH
2    O7mo3dRp2j
3    VUFNcK4qEw
4    z4Ll1m7ODZ
..          ...
453  QjZn1ZO3IM
454  Mzyw36OSht
455  q9MbZOodrL
456  ywLEH78pYS
457  n6EbkJHvKQ

[458 rows x 11 columns]>

#### EDA :

### AFFICHIER LES DIFFERENT COLONES DU DATASET

In [11]:
clients.describe()

,idClient,prenom,nom,sexe,email,telephone,dateNaissance,profession,ville,region,mdp
count,458,458,458,458,458,458,458,458,458,458,458
unique,458,317,372,2,458,458,457,327,454,303,458
top,5f10e9D33fC5f2b,Tonya,Farley,Femme,tsharp@example.net,(971)643-6089x9160,1992-01-27,Therapeutic radiographer,Tapachula,England,n4iNrw4s3T
freq,1,4,3,256,1,1,2,4,2,16,1